<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- (Hilt를 사용하기 위해 님의 'RehabAIApp' 클래스를 name으로 지정) -->
    <application
        android:name=".RehabAIApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        tools:targetApi="31">

        <!--
          [오류 수정]
          'ClassNotFoundException' (파일 없음) 오류를
          해결하기 위해, 님의 '실제' MainActivity '주소'로
          'android:name'을 '수정'합니다.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- (수정) ".presentation.ui.MainActivity" -> ".MainActivity" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>